.dropdown .dropdown-menu{
    overflow: visible !important; 
    position: absolute;
}

.dropdown .dropdown-submenu {
    position: relative;
}

.dropdown .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    position: absolute;
}

.dropdown .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown .dropdown-submenu.pull-left {
    float: none;
}

.dropdown .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.subnav.ddopen{
    display: block;
    overflow: visible !important;
}
.subnav.ddopen li{
    display: block;
    position: relative;
}
.subnav.ddopen li:hover .dropdown-menu{
   display: block;
    z-index: 1000;
    top: 0;
    left: 100%;
    background: #fff;
    position: absolute;
    padding: 4px 0;
    width: auto;
}

.btn-defer-right.open .dropdown-menu{
    position: absolute;
    left: auto !important;
    right: 0 !important;
}

ul.subnav li.open{
    display: block;
    position: relative;
    overflow: visible !important;
}

ul.subnav li.open ul.business-wrapper{
    display: block;
    z-index: 1000;
    top: 0;
    left: 100%;
    background: #fff;
}

/*.dropdown-menu{
    padding: 0;
}

.subnav li:hover .dropdown-menu {
    padding: 0;
}

.dropdown-menu li a{
    border-bottom: none !important;
}

.clickMenu.selectActions .sugar_action_button ul.subnav.ddopen{
    left: 0 !important;
    right: auto !important;
}*/
